/* html and body*/
html{font-size:16px;}
html,body {
  margin: 0;
  padding: 0;
  height: 100%; 
}

/* header */
.header-primary{position: relative;width: 100%;height:80px;background-color: #12412A;}
#header .container{position: relative;height: 100%;}
.header-primary h1{font-size:2.0rem;font-weight:bold;color: #fff;margin:25px;display:inline-block;}
.header-primary .header-logo img{height: 50px;width: 50px;}
.header-primary .header-logo {height: 100%;display:inline-block;}
.header-links, .header-right-side {display:inline-block;}
.header-links ul{list-style:none;}
.header-links ul li{display:inline-block;padding:20px 15px;border-radius: 4px;}
.header-links ul li a{color: #fff;font-size:16px;text-decoration:none;}
.header-links ul li:hover {background-color: #008a00;}
.header-right-side {float:right; margin-top:10px;}
.header-right-side ul{list-style:none;}
.header-right-side ul li{display:inline-block;padding:20px 15px;border-radius: 4px;}
.header-right-side ul li a{color: #fff;font-size:16px;text-decoration:none;}
.header-right-side li:hover {background-color: #008a00;}
.dropdown .dropdown-menu li a{color: #1c1c1c;}
#search-input {display:none;}
input.search {width:100px;color: #1c1c1c;background-color: #fff;border: 1px solid #dadada;border-width: 1px; padding:0px 5px;border-radius:4px;}
li.open{ background-color: #fff !important;}
.open a{color:#1c1c1c !important;}
.dropdown .dropdown-menu a:hover{background-color:#ccc;}
.dropdown .dropdown-menu li{padding:10px 15px;border-radius:0px;}
.dropdown .open{border-radius: 4px;}
.dropdown .dropdown-menu{top:60px;margin-top:0px;border-top:none;border-radius:0 4px 4px 4px;}
.dropdown-menu li:hover { background-color: #ccc;width:100%;height:auto;}

/* body content & form */
.content-area{background-color:#f1f1f1;}
.content-area .container h3,p {padding:0 15px;}
.general-info {margin:20px 0;padding:15px;}
.general-input {margin:20px 0px 0px;padding:15px;}
.form-group input,.form-group select {height:45px;border-width: 1px;border:1px solid #dadada;border-radius: 0px;}
.form-group input:hover, .form-group input:focus {border:1px solid #008a00;outline:none;}
.form-group.no-padding-left{padding-left:0px;}
.coverage-info{margin:50px 0;padding:15px;}
input.invalid{border: 2px solid red;}

/* footer */
.fullwidth{background-color:#174b30;padding: 3.125rem 0;}
#footer .legal-copy p{font-size:3.0rem; color:#fff;padding:0;}
#footer .legal-copy a{font-size:3.0rem; color:#008a00;}
#footer .legal-copy .glyphicon-menu-right {font-size:2.0rem;}
#footer .legal-white {margin-top:20px;}
#footer .legal-white div{border-bottom:1px solid green;padding-bottom:20px;}
#footer .footer-links a{font-size:1.5rem;color:#ccc;text-decoration:none;padding:0 15px;}
#footer .footer-links {padding:20px 0;}
.social-links .btn-circle {width: 50px;height: 50px;text-align: center;padding: 6px 0;font-size: 2.0rem;line-height: 1.42;border-radius: 30px;background-color:#174b30;border-color: #008a00;color:#fff;margin:20px;border: solid 2px #008a00;}
.social-links button.btn-circle:hover{ background-color:#008a00;}
#footer .legal-white div:last-child{border-bottom:none;}

/* modal */
.modal-footer button.btn-primary,.container button.btn-primary {background-color:#5cb85c;border-color: #5cb85c;margin-bottom:15px;padding:15px;font-size:1.6rem;}
.modal-footer button.btn-primary:hover,.container button.btn-primary:hover{ background-color:#008a00;}
.modal-footer button.btn-primary:active,.container button.btn-primary:active{ background-color:#008a00;}
.modal-footer button.btn-secondary,.container button.btn-secondary {background-color:#c55415;color:#fff;margin-bottom:15px;padding:15px;font-size:1.6rem;}
.modal-footer button.btn-secondary:hover,.container button.btn-secondary:hover{background-color:#f0ad4e;color:#fff;}
.modal-footer button.btn-secondary:active ,.container button.btn-secondary:active{background-color:#f0ad4e;color:#fff;}

/* mobile navbar */
.navbar-header{height:60px;background-color: #12412A;}
.navbar-header .navbar-toggle{float:left;margin-left:5px;margin-right:0;}
.navbar-header .navbar-brand img{width: 36px;height: 32px;}
.navbar-header h1{font-size:2.0rem;color:#fff;}
.navbar-default button.navbar-toggle{border:none !important;color:#fff;}
.navbar-default .navbar-toggle:hover {background-color: #008a00 !important;}
.navbar-default button.navbar-toggle:active {background-color: #008a00 !important;}
.navbar-collapse ul.navbar-nav{background:#fff;}
.navbar-collapse .navbar-nav li{border-bottom:1px solid grey; padding:15px;margin:0 10px;background:#fff;}
.navbar-collapse .navbar-nav li>a{font-size:2.00rem;padding:0;}
.navbar-collapse .navbar-nav li:last-child{border-bottom:none;}
.navbar-nav input{width:100%; padding:10px;border-width: 1px;border-bottom-color: #dadada;border-radius: 0px;}

/* medium devices */
@media (max-width: 1200px) {
.header-primary h1{margin-left:5px;margin-right:5px;}
.header-links ul{padding-left:5px;}
}

/* small and extra small devices */
@media only screen and (max-width: 768px),(max-width: 990px) {
.general-input,.coverage-info {margin-top:0;}
.form-group input,.form-group select {height:48px;}
.general-info {margin-bottom:0;}
.modal-footer-buttons {margin:15px !important;}
.modal-footer .modal-footer-buttons .btn+.btn {margin-left:0;}
#footer .footer-links a{display:block;width:100%;}
.social-links .btn-circle {margin:20px 5px;}
.container button.btn-primary,.container button.btn-secondary{width: 94%;margin-left: 15px;}
}